/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* Header */

header {
  padding-top: 20px;
}

header img {
  padding: 5px;
  background: #fff;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
	color: #F3C015;
  	text-decoration: none;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: none;
}

a:visited {
  color: #069;
}

/* Container */

body {
	background: #146B93;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
}

.container {
  width: 900px;
  margin: auto;
}

section {
  margin-top: 1em;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

section h2 {
  margin: 5px 0 15px 0 !important;
  line-height: 20px;
}

section h3 {
	margin: 10px 0px 15px 0px !important;
	line-height: 14px;
}

/* Rating Stars */
li.rating_star {
  float:left;
  list-style: none;
  margin: 0;
  padding: 0; 
  width: 25px;
  height: 25px;
  background: url(/images/star.png) top left;
} 

li.rating_star.on {
  float:left;
  list-style: none;
  margin: 0;
  padding: 0; 
  width: 25px;
  height: 25px;
  background: url(/images/star.png) 0 -25px;
} 

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
	width: 900px;
 	text-align: right;
 	padding: 0 !important;
	margin-bottom: 20px;
}

footer nav ul {
	padding-right: 0.7em;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Search Bar */

.search_form {
margin: 0 auto 0 auto;
padding: 5px;
font-size: 18px;
height: 22px;
width: 90%;
border-radius: 10px;
}

/* Search Page */
.search_result, .store {
  min-height: 120px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  float:left;
  display:inline;
}

::-webkit-input-placeholder  { font-style:italic; }
input:-moz-placeholder { font-style:italic; }

.search_result_thumb, .store_thumb {
  margin: 0 15px 0 0;
  position:relative;
  float:left;
}

.clear {
  clear:both;
  display:block; 
  overflow:hidden; 
}

.seperator{
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

/* Sharing */
.sharing{
  position: absolute;
  bottom: 0px;
  right: 0px;
  display:none;
}

.sharing li {
  list-style: none;
  display: inline-block;
}

.sharing iframe{
  height: 20px !important;
}

#fb-button {
  position:relative;
  bottom: .145em;
}

#tweet-button {
  position: relative;
  bottom: -.1em;
}

.store_content{
  position:relative;
}

.share_icon, #share_icon {
  margin-right: 24px !important;
}

/* Errors and Notices */
.error, .notice {
	background: #eee;
	padding: 10px;
}

.error { color: red }

.store_tags{
  margin: 20px 0 0 0;
  position: relative;
  color: gray;
  font-size: 12px;
}

table#stores {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#stores th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#stores th, table#stores td {
  padding: 4px;
  text-align: left;
}

.banner {
	padding: 5px;
	border: 1px solid #EEE;
	border-radius: 10px;
}

#right { 
  float:right; 
  margin: 0 0 15px 20px;
} 