<footer>
  <nav class="round">
  	<div id="fb-root"></div>
    <ul>
    	<li><%= link_to "Wiki", 'https://sites.google.com/site/tritonyelp/documents' %></li> &middot;
     	<li><%= link_to "GitHub", 'https://github.com/dtsunekawa/tritonyelp#tritonyelp' %></li>
    </ul>
  </nav>
</footer>
