<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", 'https://github.com/dtsunekawa/tritonyelp#tritonyelp' %></li> &middot;
      <li><%= link_to "Contact", '#' %></li>
      &middot;
      <li><%= link_to "Documents", 'https://sites.google.com/site/tritonyelp/documents' %></li>
    </ul>
  </nav>
</footer>
