<header>
	<%= link_to image_tag("logo.png", :alt => "I am a logo", :class => "round"), root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<% if !user_signed_in? %>
			<li><%= link_to "Sign In", '/users/sign_in' %></li>
			<% else %>
			<li><%= link_to "Sign Out", '/users/sign_out' %></li>
			<% end %>
			
		</ul>
	</nav>
</header>
